@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Contact:</strong> <a href="mailto:felipeng.eletrica@gmail.com">felipeng.eletrica@gmail.com</a><br />
</address>
